/* Estilos comuns */
.nomes {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center;
    
}

h1 {
    width: 400px;
    color: var(--Dark, #0F241D);
    font-family: Poppins;
    font-size: 34px;
    font-weight: 700;
}

.bela{
    width: 100%;
    max-width: 352px;
    height: auto;
    font-size: 60px;
    flex-shrink: 0;
    color: #413c68;
    flex-direction: row;
}
button {
    width: 100%;
    max-width: 400px; 
    padding: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
    color: white;
    background: var(--Primary-color, #9e94f7);
    margin-top: 50px; 
   
}

button:hover {
    background: var(--Primary-hover, #7f75f7);
}

.imagem {
    margin-bottom: 60px;
    width: 100%;
    margin-top: 50px;
    border-radius: 10px;
    max-width: 800px;
    height: auto;
    flex-shrink: 0;
}
