* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .footer {
    background: var(--Primary-color, #9e94f7);
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-wrap: wrap;
  }
  
  
  .footer-direitos {
    color: #000000;
  }
  
  .footer-icons {
    display: flex;
    gap: 10px;
  }
  
  .button-footer {
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .footer-icon {
    color: #000000;
    font-size: 24px;
  }
  
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column; 
      text-align: center;
    }
  
    .footer-name {
      width: 100%; 
    }
  }
  