h2 {
    color: var(--Dark, #0F241D);
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-weight: 700;
    margin: 0 auto;
}

.sobre {
    width: 100%;
    max-width: 610px; 
    margin: 0 auto; 
    color: var(--Gray, #767676);
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 500;
}

.sobre-img {
    margin: 20px auto; 
    width: 100%; 
    max-width: 561px; 
    display: flex;
    flex-direction: row;
    text-align: center;
    border-radius: 10px;
}

/* Estilos para telas menores (por exemplo, dispositivos móveis) */
@media (max-width: 768px) {
    h2 {
        font-size: 20px; 
    }

    .sobre {
        text-align: center;
        margin-top: 20px;
        margin-right: 20px;
        font-size: 14px; 
    }
}
