h2 {
    color: var(--Dark, #0F241D);
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 2340px;
    margin: 0 auto; /* Centralize o elemento horizontalmente */
}

.sobre {
    width: 100%; /* Use a largura total do contêiner pai */
    max-width: 610px; /* Largura máxima para limitar o texto */
    margin: 0 auto; /* Centralize o elemento horizontalmente */
    font-weight: 400;
    line-height: 24px; /* 150% */
    color: var(--Gray, #767676);
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

img {
    margin: 20px auto; /* Centralize a imagem horizontalmente e adicione margens superiores e inferiores */
    width: 100%; /* A imagem ocupará a largura total do contêiner pai */
    max-width: 561px; /* Largura máxima para limitar o tamanho em telas maiores */
    height: auto; /* A altura será ajustada automaticamente para manter a proporção da imagem */
    display: block; /* Remova o espaço extra abaixo da imagem */
    text-align: center;
    border-radius: 10px;
    flex-shrink: 0;
}

/* Estilos para telas menores (por exemplo, dispositivos móveis) */
@media (max-width: 768px) {
    h2 {
        font-size: 20px; /* Reduza o tamanho da fonte para telas menores */
    }

    .sobre {
        font-size: 14px; /* Reduza o tamanho da fonte para telas menores */
    }
}
