.contato-whats {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    margin-top: 50px;
    line-height: normal;
  }
  
  .botao {
    background-color: #9e94f7;
    color: white;
    border: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
    border-radius: 10px;
  }
  
  .contact-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .contato-whats {
      font-size: 18px;
    }
  
    .botao {
      font-size: 16px;
    }
  
    .contact-item {
      margin-top: 20px;
    }
  }
  