.servicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 40px;
    color: var(--Dark, #0F241D);
    text-align: center;
    font-family: Poppins;
    font-weight: 700;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.photos {
  flex: 1;
}

.photos img {
  width: 100%;
  height: auto;
}

.servicos__container {
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.text-servicos {
    width: 400px;
    color: var(--Gray, #767676);
    padding: 6px;
    text-align: center;
    margin-bottom: 50px;
    font-family: DM Sans;
    font-size: 18px;
    font-weight: 400;
}




@media (max-width: 768px) {
    .servicos {
      text-align: center; 
    }
  
    .servicos__container {
      flex-direction: column; 
    }
  
    .service-item {
      text-align: center; 
      margin: 20px 0; 
    }
  }
  
  
  .servicos__container {
    display: flex;
    justify-content: center;
  }
  
  .service-item {
    text-align: center;
  }
  